@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
html,body {
    height: 100%;
}
body {
    background-color: #91D9F9;
    font-family: 'Nerko One', cursive;
}

.information {
    text-align: center;
    margin-top: 3em;
}

.msgAi {
    font-size: 2em;
    width: 50%;
    margin: 2em auto;
}

h1 {
    text-align: center;
}

.victoire {
    background-color: green;
}

.defaite {
    background-color: red;
}

.none {
    display: none !important;
}

.visible {
    display: block;
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    font-size: 1.8em;
}

.regle {
    width: 50%;
    margin: 3em auto;
    font-size: 1.5em;
}

.recommencer {
    margin: auto;
    margin: auto;
    text-align: center;
    display: block;
    padding: 1em;
    background-color: #91D9F9;
    border-radius: 1em;
    cursor: pointer;
    width: 20%;
    font-family: 'Nerko One', cursive;
    font-size: 1.2em;
}

.air {
    display: flex;
    flex-direction: row-reverse;
}

.ratio {
    position: absolute;
    top: 1em;
    left: 1em;
    height: fit-content;
    padding: 1em;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    background-color: #DBEFFA;
    border: 5px solid #3E7194;
}

.score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
    height: fit-content;
    margin: auto;
    background-color: #DBEFFA;
    padding: 1em;
    border: 5px solid #3E7194;
    animation: gaucheDroite 1s;
}

.espace {
    height: 80vh;
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #DBEFFA;
    padding: 1em;
    border: 5px solid #3E7194;
}

.arene {
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    width: 50%;
    height: 50%;
    margin: auto;
    background-color: #91D9F9;
    border: 5px solid #3E7194;
    scale: 0.8;
}

.bouton {
    display: flex;
    justify-content: space-evenly;
}

.robot {
    display: flex;
    justify-content: center;
    justify-self: flex-start;
    justify-content: space-around;
}

.robot {
    scale: 0.8;
}

.youWin {
    font-size: 2em;
    color: green;
}

.youLose {
    font-size: 2em;
    color: red;
}
.youDraw {
    font-size: 2em;
    color: orange;
    margin: 0  0 0 44%;
    padding: 0;
}

p {
    text-align: center;
}

.botP {
    animation: fadein 2s;
    margin: 0;
}

.myP {
    margin: 0;
    animation: fadein 2s;
    /* -webkit-animation: fadein 2s; */
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadein {
    animation: fadein 2s;
}

@keyframes gaucheDroite {
    from {
        scale: 2;
    }
    to {
        scale: 1;
    }
}

.ligne {
    height: 5px;
    background-color: black;
}

.bouton button {
    padding: 1em;
    cursor: pointer;
    background-color: #91D9F9;
    font-weight: bold;
    border-radius: 2em;
    font-size: 1.5em;
    border: 5px solid #3E7194;
    font-family: 'Nerko One', cursive;
}

.bouton button:hover {
    color: white;
    background-color: #3E7194;
    transition: 0.3s;
}

.myP img {
    scale: 0.5;
}

.botP img {
    scale: 0.5;
}

#nom {
    height: 2em;
    width: 15%;
    text-align: center;
}

#valider {
    padding: 0.3em;
    font-family: 'Nerko One', cursive;
    font-weight: bold;
    width: 8em;
    font-size: 1em;
    cursor: pointer;
}



@media (max-width:1400px) {

    .ratio {
        display: none;
    }

    .msgAi {
        font-size: 1em;
        width: 80%;
    }

    h1 {
        margin: 0 auto;
    }

    .bouton button {
        padding: 0.2em;
        font-size: 1em;
        border: 2px solid #3E7194;
    }

    .air {
        height: 50%;
        flex-direction: initial;
    }

    .arene {
        border-radius: 0;
        width: auto;
        height: auto;
        margin: 0 auto;
        background: none;
        border: none;
        margin-top: -120px;
    }

    .espace {
        width: 100%;
        height: 85vh;
        padding: 0;
        justify-content: space-between;
        justify-self: flex-start;
    }

    .robot img {
        scale: 0.5;
        margin-top: -25px;
    }

    .botScore {
        position: absolute;
        font-size: 1em;
        width: 3em;
    }

    .userScore {
        position: absolute;
        display: flex;
        font-size: 1em;
        right: 10px;
        width: 3em;
    }

    .score {
        height: 100px;
    }

    .botP img {
        height: 150px;
    }

    .myP img {
        height: 150px;
    }

    .bouton {
        padding: 1em;
        justify-content: space-between;
    }

    .recommencer {
        width: auto;
    }

    #valider {
        width: auto;
        font-size: 1em;
    }

    #nom {
        width: auto;
    }

    #nom::placeholder {
        font-family: 'Nerko One', cursive;
    }

    .regle {
        width: auto;
        margin: 0 auto;
        font-size: 1.2em;
    }

    .youWin {
        position: absolute;
        top: 45vh;
        animation: fadein 3s;
    }

    .youLose {
        position: absolute;
        top: 45vh;
        animation: fadein 3s;
    }
    .youDraw {
        position: absolute;
        top: 45vh;
        left: 35%;
        margin:0;
        width: fit-content;
        animation: fadein 3s;
    }

    #myScore,#scoreBot {
        font-size: 2em;
    }
}